.container {
    display: grid; 
    grid-template-columns: 3fr 3fr 3fr 5fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-areas: 
      "planet-desktop planet-desktop planet-desktop text-desktop"
      "planet-desktop planet-desktop planet-desktop text-desktop"
      "planet-desktop planet-desktop planet-desktop links"; 
  }
  .planet-desktop { grid-area: planet-desktop; }
  .text-desktop { grid-area: text-desktop; }
  .links { grid-area: links; }

  /*tablet*/

  .container {
    display: grid; 
    grid-template-columns: 3fr 3fr 3fr 5fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-areas: 
      "planet-tablet planet-tablet planet-tablet planet-tablet"
      "planet-tablet planet-tablet planet-tablet planet-tablet"
      "text-tablet text-tablet text-tablet links-tablet"; 
  }
  .planet-tablet { grid-area: planet-tablet; }
  .text-tablet { grid-area: text-tablet; }
  .links-tablet { grid-area: links-tablet; }

  /*mobile*/

  .container {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 50px 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "links"
      "image"
      "text"; 
  }
  .links { grid-area: links; }
  .image { grid-area: image; }
  .text { grid-area: text; }