*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Spartan';
    color: #fff;
    background-color: #070724;
    background-image: url('../assets/background-stars.svg');
}
header{
    display: flex;
    align-items: center;
    border-bottom:1px solid rgba(255, 255, 255, 0.2);
}
.header__title{
    font-family: 'Antonio';
    font-weight: 500;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 100%;
}
.header__links{
    list-style: none;
    display: flex;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}
.header__link{
    margin: 0 15px;
}

.header__link:hover{
    cursor: pointer;
}
.main{
    padding: 0 85px;
    display:flex;
}
.main__details{
    display: flex;
}
.details__input{
    display: flex;
    flex-direction: column;
}
.details__input input {
    opacity: 0;
    width: 0;
    height: 0;
}
.detail__input:checked + .input__label{
    background-color: #419EBB;
}
.input__label{
    padding: 10px 25px;
    margin: 5px 0;
    display: flex;

    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

@media screen and (min-width: 1200px) { 
    header{
        flex-direction: row;
        padding: 0 30px;
        justify-content: space-between;
        height:85px;
    }
    .header__links{
        margin-left: auto;
    }
    .main{
        flex-direction: row;
        justify-content: space-between;
    }
    .main__image{
        margin: auto;
    }
    .main__details{
    margin-left: auto;
    flex-direction: column;
    width: 30%;
    min-width: 350px;
    }
    .detail__title{
    font-size: 80px;
    font-family: 'Antonio';
    text-transform: uppercase;
}
    .detail__desc{
    font-size: 14px;
    line-height: 25px;
    margin-top: 20px;
    }
    .details__input{
        margin-top:10px;
    }
.label__no{
    margin-right: 25px;
}
.image__spec{
    position: relative;
}
.image__tooltip{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 160px;
}

}

@media screen and (min-width: 700px) and (max-width: 1200px) { 
    header {
        flex-direction: column;
        padding: 40px;
    }
    .header__links{
        margin-top: 40px;
    }
    .main{
        justify-content: center;
        flex-direction: column;
    }
    .main__image{
        margin: 100px auto;
    }
    .main__details{
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .details__text{
        width:40%;
    }
}
footer{
    padding: 0 85px;
    margin-top: 100px;
    margin-bottom: 20px;
    
    width: 100%;
    
}
.footer__links{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.footer__link{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px 90px 20px 15px;
}
.link__title{
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5;
}
.link__stat{
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    font-family: 'Antonio';
}

